.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.videoItemDetailsRightContainer {
  width: 80%;
}
@media (max-width: 576px) {
  .videoItemDetailsRightContainer {
    width: 100%;
  }
}
.videoPlayer {
  width: 80%;
}
