.appContainer-videoItemDetails {
  height: 100vh;
  box-sizing: border-box;
}
.videoItemDetails {
  height: 90%;
  display: flex;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}
.videoDetailsContainer {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customVideoPlayer {
  width: 400px;
  height: 300px;
}

.viewAndPublishedTimeContainer {
  display: flex;
  align-items: center;
  line-height: 1px;
}
.viewCount {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.publishedTime {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}
.operations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.operators {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
}

.operator {
  display: flex;
  background-color: transparent;
  border-style: none;
  align-items: center;
  cursor: pointer;
  color: #64748b;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: bold;
}

.hrLine {
  background-color: #94a3b8;
  width: 100%;
}
.videoItemProfile {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.details {
  display: flex;
  width: 100%;
  align-self: flex-start;
  padding: 10px;
}

.active {
  color: #2563eb;
}
